@import "webslides/static/css/webslides.css";
@import "webslides/static/css/svg-icons.css";

figure {
  padding: 2em;
}
code {
  margin-top: 2em;

  pre {
    font-size: 1.5em;
    font-family: "fantasque sans mono";
    box-shadow: none;
    background: none;
    border: none;
    font-weight: bold;
    &:hover {
      box-shadow: none;
    }
  }
}

.preview {
  background-color: #fff;
  display: flex;
  justify-content: center;
  & > div {
    position: relative;
  }
}
